<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         convertDeprecationsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         stopOnError="false"
         stopOnFailure="false"
         verbose="true"
         cacheDirectory=".phpunit.cache"
         bootstrap="vendor/autoload.php"
         executionOrder="depends,defects"
         processIsolation="false"
         beStrictAboutOutputDuringTests="true"
         colors="true">
  <testsuites>
    <testsuite name="Unit Test">
      <directory>./tests/Unit/</directory>
    </testsuite>
    <testsuite name="Feature Test">
      <directory>./tests/Feature/</directory>
    </testsuite>
  </testsuites>
  <coverage/>
  <source>
    <include>
      <directory>./src</directory>
    </include>
  </source>
</phpunit>


